@import "../utils"

.cover
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("https://images.hdqwalls.com/download/1/rick-and-morty-5k-artwork-hy-2048x1152.jpg")
  background-size: cover, cover


.container
  display: flex
  align-items: center
  @extend .containerMax

.logo
  color: white
  padding: 1rem -0px
  display: inline-block


.title
  text-transform: uppercase
  font-size: 2em
  margin: 0

.searchField
  margin-left: 2em
  background: lime
  background-size: cover
  height: 3em
  border: 0
  padding: 0 1em
  border-radius: 1.5em

  font-weight: bold
  color: black

  &::placeholder
    color: #031f00