.message
  color: white

.big
  font-size: 2em
  font-weight: bold

.grid
  display: grid

  grid-row-gap: 1em
  grid-column-gap: 1em

  grid-template-columns: 1fr 1fr 1fr

  @media (max-width: 1200px)
    grid-template-columns: 1fr 1fr

  @media (max-width: 800px)
    grid-template-columns: 1fr

