.container
  cursor: pointer

  display: flex
  box-sizing: border-box

  padding: 1rem
  border-radius: .5rem

  border: 2px solid #225318


  &:hover
    border-color: #59890a
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("https://wallpaperboat.com/wp-content/uploads/2019/04/rick-and-morty-wallpaper-portal-wallpaper-001.jpg")
    background-size: cover, cover

.avatarContainer
  position: relative
  align-self: center

.avatar
  border-radius: 50%
  max-width: 8rem

.dataContainer
  margin-left: 1rem
  color: dimgray
  line-height: 1.5

  p
    margin: 0

.id
  color: white

  &::before
    content: '#'

.name
  font-weight: bolder
  color: white
  margin-top: .2em
  margin-bottom: .4em


.status
  position: absolute
  right: 0
  bottom: 0
  padding: .2em .4em
  border-radius: .5em

  color: white
  background: #505050

  font-weight: bold
  font-size: .9em

.statusAlive
  @extend .status
  background: #00c200

.statusDead
  @extend .status
  background: #ad0000

